[Unit]
Description=Kibana Server
After=docker.service
Requires=docker.service nginx@*.service

[Service]
ExecStartPre=/usr/bin/docker pull ncarlier/%p:latest
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p -h %p \
    -e DOMAIN_NAME=kibana.localnet \
    --link elasticsearch:elasticsearch \
    -P \
    ncarlier/%p
ExecStop=/usr/bin/docker stop %p

[X-Fleet]
X-Conflicts=%p@*.service
