[Unit]
Description=NodeRed service
After=docker.service
Requires=docker.service redis.service mqtt.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p \
    --link redis:redis \
    --link mqtt:mqtt \
    --volume=/var/opt/%p:/root/.node-red \
    --env-file /etc/environment \
    --env-file /etc/default/%p \
    -p 127.0.0.1:1880:1880 \
    ncarlier/%p
ExecStop=/usr/bin/docker stop %p

