[Unit]
Description=NGINX Reverse Proxy
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull ncarlier/nginx:latest
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p \
    --volume /var/run/docker.sock:/tmp/docker.sock \
    -p 80:80 \
    ncarlier/nginx
ExecStop=/usr/bin/docker stop %p

[X-Fleet]
X-Conflicts=%p@*.service
