[Unit]
Description=Redis Server
After=docker.service
Requires=docker.service

[Service]
TimeoutStdartSec=0
ExecStartPre=/usr/bin/docker pull ncarlier/%p:latest
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p -h %p \
    -e SERVICE_PORT=6379 \
    -P \
    ncarlier/%p
ExecStop=/usr/bin/docker stop %p

[X-Fleet]
X-Conflicts=%p@*.service
